numpy
pandas
pipenv
uproot
pyhepmc_ng
tqdm
argparse
joblib
seaborn
tabulate
pyperclip
fuzzywuzzy
jupyter
jupyterlab
jupyterlab_widgets
widgetsnbextension
ipywidgets
matplotlib
scipy
h5py
markdown
#tensorflow
#keras
#torch
